[
	{
		"target": "backend",
		"tsConfig": "tsconfig.json",
		"name": "Backend",
		"minify": {
			"files": [ "dist/server.js" ],
			"terser": {
				"enabled": true,
				"module": false,
				"mangle": "^_"
			},
			"terserCompanion": true
		}
	},
	{
		"target": "frontend",
		"prefix": "frontend",
		"tsConfig": "tsconfig.json",
		"name": "Frontend",
		"templatesJs": [
			{
				"filename": "templates/renderer.tpl",
				"destination": "dist/modules",
				"output": "esm"
			},
			{
				"filename": "templates/legacy.tpl",
				"destination": "dist/legacy",
				"output": "cjs"
			}
		],
		"minify": {
			"files": [ "dist/app.js", "../dist/modules/renderer.mjs" ],
			"terser": {
				"enabled": true,
				"module": true,
				"mangle": "^_"
			},
			"terserCompanion": true
		},
		"copy": [
			{
				"destination": "dist/public",
				"files": [
					"assets/logo.svg"
				]
			}
		],
		"templatesHtml": [
			{
				"filename": "templates/index.html",
				"destination": "dist/public",
				"variables": [
					{
						"name": "title",
						"type": "string",
						"value": "My App"
					},
					{
						"name": "bundle_mtime",
						"type": "mtime",
						"value": "dist/app.min.js"
					}
				]
			}
		]
	},
	{
		"target": "tests",
		"tsConfig": "tests/tsconfig.json",
		"name": "Tests"
	}
]
